:root {
  --main-color-purple: #6b5b95;
  --main-color-yellow: #feb236;
  --main-color-red: #d64161;
  --main-color-orange: #ff7b25;
  --main-color-milk: #fefbd8;
}

body {
  width: 590px;
  float: left;
}

#header {
  background-color: var(--main-color-yellow);
  text-align: center;
  padding: 20px 0;
  width: 630px;
}

canvas {
  margin: 0px;
  padding: 20px;
  background-color: var(--main-color-yellow);
  float: left;
}

header > h1:hover {
  cursor: pointer; /* pointer */
}

.instructions-div {
  float: left;
  width: 630px;
  padding: 20 0px;
  background-color: var(--main-color-yellow);
}

div > p {
  float: left;
  padding: 10px 20px;
  margin: 0;
  font-weight: 1000;
  font-size: larger;
}

.scoreDiv {
  float: right;
}

.instructions-list {
  margin: 0;
  float: inline-end;
}

li {
  list-style-type: none;
}
