:root {
  --main-color-purple: #6b5b95;
  --main-color-yellow: #feb236;
  --main-color-red: #d64161;
  --main-color-orange: #ff7b25;
  --main-color-milk: #fefbd8;
}

body {
  width: 90%;
}

#header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  width: 100%;
}

header > h1:hover {
  cursor: pointer; /* pointer */
}

.main {
  background-color: var(--main-color-yellow);
  padding: 20px;
  width: 100%;
  text-align: center;
}

/* Som styling for the addGame page*/
.addGameForm {
  /* In order to style it as the buttons on the main page 
    the default styles of <ul> is copied and then adjusted
    as the list-alternatives are */
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding: 20px;

  width: 20%;
}

input {
  display: list-item;
  padding-top: 30px;
  margin: 20px;

  float: none;
}

input[type="text"] {
  box-sizing: border-box;
  padding-top: 1px;
  text-align: center;
  display: inline-block;
  float: none;
}

.list-alternatives {
  list-style-type: none;
  padding: 20px;
}

.list-item {
  padding-top: 30px;
}

.gameNavigate {
  background-color: var(--main-color-purple);
  width: 20%;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white; /* White text */
  padding: 40px 60px; /* Some padding */
  cursor: pointer;
  float: none;
  font-size: large;
  box-shadow: 0 10px #999;
}

.submitButton {
  width: 100%;
}

.gameNavigate:hover {
  background-color: #3e8e41;
}

.gameNavigate:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
